@media all and (max-width: 1330px) {
  .header__main-figure {
    top: 220px;
    width: 580px;
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .menu {
    &__list {
      &-item {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 1145px) {
  .menu {
    display: none;
    &__list {
      align-items: stretch;
      &-item {
        margin: 0;
      }
      &-link {
        font-weight: 500;
      }
    }
  }
  .burger__menu {
    &-button {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 30;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: 0.5s;
    }
    &:hover &-lines {
      filter: brightness(0.7);
    }
    &-lines,
    &-lines::after,
    &-lines::before {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #fff;
    }
    &-lines {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-lines::before {
      content: "";
      top: -12px;
    }
    &-lines::after {
      content: "";
      top: 12px;
    }
    &-active &-button,
    &-active &-lines {
      background-color: transparent;
    }
    &-active &-lines::before {
      top: 0;
      transform: rotate(45deg);
    }
    &-active &-lines::after {
      top: 0;
      transform: rotate(-45deg);
    }
    .response__menu {
      padding-top: 60px;
      position: fixed;
      z-index: 20;
      display: flex;
      flex-flow: column;
      height: 100%;
      background-color: #103269;
      overflow-y: auto;
      left: -100%;
      transition: 0.5s;
      width: 240px;
      .response__list {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 0px auto 20px auto;
        &-item {
          margin: 10px 0;
          font-size: 18px;
          color: white;
        }
      }
    }
    .response__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
    .response__lang {
      margin: 0 auto;
      padding-bottom: 30px;
    }
    &-active .response__menu {
      left: 0;
    }
    &-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      z-index: 10;
    }
    &-active &-overlay {
      display: block;
    }
  }

  .header {
    display: flex;
    &__main {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      &-suptitle {
        text-align: center;
        font-size: 24px;
      }
      &-subtitle {
        margin: 10px auto 90px auto;
        width: 500px;
        text-align: center;
        font-size: 34px;
      }
      &-figure {
        position: static;
        width: 640px;
        z-index: 1;
      }
    }
  }

  .statsbar {
    justify-content: space-evenly;
  }
  .stat {
    &__subtitle {
      font-size: 16px;
    }
  }
  .sports {
    text-align: center;
    &__title {
      width: 100%;
      font-weight: 700;
    }
  }
  .card__box {
    flex-wrap: wrap;
    width: 680px;
    margin: 0 auto;
  }
  .card {
    margin-bottom: 50px;
  }

  .teachers {
    text-align: center;
  }
  .sliders {
    max-width: 750px;
    margin: 0 auto;
    & .slick-prev {
      left: 260px;
    }
    & .slick-next {
      right: 260px;
    }
    & .slick-dots {
      left: 0px;
    }
  }
  .footer {
    &__wrapper {
      justify-content: center;
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 880px) {
  .statsbar {
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    justify-content: space-around;
  }
  .stat {
    margin: 0px 60px 30px;
    &__number {
      font-size: 55px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
  .card__box {
    justify-content: space-evenly;
  }
  .sliders {
    max-width: 495px;
    & .slick-prev {
      left: 160px;
    }
    & .slick-next {
      right: 160px;
    }
  }
}
@media (max-width: 794px) {
  .header {
    &__main {
      margin-top: 100px;
      &-subtitle {
        font-size: 30px;
        margin-bottom: 100px;
      }
      &-figure {
        width: 560px;
        height: 370px;
      }
    }
  }
  .sports {
    &__title {
      font-size: 34px;
    }
  }
  .card__box {
    width: 540px;
  }
  .card {
    margin-bottom: 40px;
  }
}
@media (max-width: 680px) {
  .header {
    &__main {
      padding-bottom: 60px;
      &-figure {
        width: 520px;
        height: 360px;
      }
    }
  }
  .statsbar {
    width: 478px;
  }
  .stat {
    margin: 0px 20px 30px;
    &__number {
      font-size: 46px;
    }
  }
}
@media (max-width: 630px) {
  .header {
    &__main {
      &-subtitle {
        margin-bottom: 60px;
      }
      &-figure {
        width: 480px;
        height: 340px;
      }
    }
  }
  .sports {
    &__title {
      font-size: 34px;
      width: 320px;
      margin: 0px auto 60px auto;
    }
  }
  .card__box {
    width: 450px;
  }
  .card {
    margin-bottom: 40px;
  }
  .teachers {
    .media__center {
      font-size: 30px;
    }
  }
  .sliders {
    max-width: 238px;
    & .slick-prev {
      left: 0px;
    }
    & .slick-next {
      right: 0px;
    }
  }
}
@media (max-width: 580px) {
  .header {
    &__main {
      &-subtitle {
        width: 410px;
        font-size: 28px;
        margin-bottom: 160px;
      }
      &-figure {
        width: 450px;
        height: 310px;
      }
    }
  }
}
@media (max-width: 530px) {
  .header {
    &__main {
      &-subtitle {
        font-size: 26px;
        width: 380px;
      }
      &-figure {
        width: 410px;
        height: 280px;
      }
    }
  }
  .statsbar {
    width: 400px;
  }
  .stat {
    margin: 0px 10px 30px;
    &__number {
      font-size: 44px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
  .footer {
    &__wrapper {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &__content1 {
      max-width: 212px;
      margin-bottom: 20px;
    }
    &__content2 {
      margin-left: 0px;
    }
  }
}
@media (max-width: 500px) {
  .header {
    min-height: 100vh;
    padding-bottom: 60px;
    &__main {
      &-suptitle {
        font-size: 20px;
      }
      &-subtitle {
        font-size: 24px;
        width: 360px;
      }
      &-figure {
        width: 380px;
        height: 250px;
      }
    }
  }
  .sports {
    &__title {
      font-size: 32px;
      width: 250px;
    }
  }
  .card__box {
    width: 300px;
  }
  .teachers {
    .media__center {
      margin: 20px auto 50px auto;
      width: 266px;
      font-size: 26px;
      font-weight: 700;
    }
  }
}
@media (max-width: 466px) {
  .header {
    &__main {
      margin-top: 70px;
      &-subtitle {
        font-size: 22px;
        line-height: 30px;
        width: 325px;
        margin-bottom: 120px;
      }
      &-figure {
        width: 320px;
        height: 200px;
      }
    }
  }
  .statsbar {
    flex-direction: column;
    width: 100%;
  }
  .stat {
    margin: 0px 0px 40px;
    &__number {
      font-size: 48px;
    }
    &__subtitle {
      font-size: 17px;
    }
  }
}
@media (max-width: 400px) {
  .header {
    padding-bottom: 0px;
    &__main {
      flex-direction: column-reverse;
      margin-top: 100px;
      &-suptitle {
        font-size: 19px;
      }
      &-subtitle {
        font-size: 19px;
        line-height: 20px;
        width: 280px;
        margin-bottom: 20px;
      }
      &-figure {
        width: 290px;
        height: 170px;
        margin-bottom: 50px;
      }
    }
  }
  .teachers {
    .media__center {
      margin: 20px auto 50px auto;
      width: 254px;
      font-size: 25px;
      font-weight: 400;
    }
  }
}
@media (orientation: portrait) {
  .header {
    min-height: 100px;
  }
}
