@mixin main_bg {
  background-color: #26335d;
}
@mixin card_bg {
  background: white;
}

@mixin second_text {
  color: #185fda;
}
@mixin background_size {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin Exo2_Regular {
  font-family: "Exo2_Regular";
}
@mixin Exo2_SemiBold {
  font-family: "Exo2_SemiBold";
}
@mixin Exo2_Bold {
  font-family: "Exo2_Bold";
}
