@import "mixin";
@import "libs";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

.hidden {
  overflow: hidden;
}
.container__header {
  max-width: 1615px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__main {
  max-width: 1035px;
  margin: 0 auto;
  padding: 0 15px;
}

.loader__wrap {
  position: fixed;
  left: 0;
  top: 0;
  @include same-size(100%);
  display: flex;
  z-index: 123;
  background-color: #1b3053;
}

.loader {
  --sz: 7rem;
  width: calc(var(--sz) * 2);
  height: var(--sz);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.loader__sq {
  --p-sz: calc(var(--sz) / 4);
  --m-offset: calc((var(--p-sz) * -1) * 0.75);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  &::before,
  &::after {
    @include same-size(var(--p-sz));
    content: "";
    position: relative;
    transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
    animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95) calc(var(--i) * 0.06s) infinite
      alternate-reverse;
  }
  &:first-of-type {
    margin-right: var(--m-offset);
    &::before {
      --i: 1;
      border: 3px solid #0061ff;
      border-radius: 50%;
    }
    &::after {
      --i: 3;
      background-color: #ffff;
      border-radius: 50%;
    }
  }

  &:nth-of-type(2) {
    &::before {
      --i: 2;
      border: 3px solid #0061ff;
      border-radius: 50%;
    }
    &::after {
      --i: 4;
      background-color: #ffff;
      border-radius: 50%;
    }
  }
}
@keyframes loader-box-bounce {
  to {
    transform: translateY(0);
  }
}

.container__header {
  max-width: 1615px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__main {
  max-width: 1035px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  min-height: 100vh;
  background-image: url("../images/figure_bg.png");
  @include background_size;
  color: white;
  padding-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  &__list {
    display: flex;
    align-items: center;
    &-link {
      font-size: 18px;
      font-weight: 500;
      @include Exo2_Regular;
    }
    &-item {
      margin-right: 50px;
      position: relative;
      cursor: pointer;
    }
  }

  &__item-arrow::after {
    content: "";
    position: absolute;
    right: -22px;
    bottom: 2px;
    width: 17px;
    height: 12px;
    background-image: url("../icons/arrow.svg");
  }
}
.lang {
  display: flex;
  align-items: center;
}
.lang__btn {
  width: 40px;
  height: 22px;
  margin: 0 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    @include Exo2_Bold;
    font-size: 18px;
    font-weight: 600;
  }
}
.header__main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  &-title {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.2px;
    @include Exo2_Regular;
  }
  &-subtitle {
    width: 530px;
    height: 60px;
    font-size: 34px;
    @include Exo2_SemiBold;
  }
  &-figure {
    width: 650px;
    height: 400px;
  }
}

.main {
  @include main_bg;
}

.quantity {
  min-height: 264px;
  padding: 80px 0;
  text-align: center;
}
.statsbar {
  display: flex;
  justify-content: space-between;
}

.stat {
  &__number {
    color: #2d9cdb;
    font-weight: 700;
    font-size: 50px;
    transition: all ease 0.6s;
    &:hover {
      color: #0061ff;
    }
  }
  &__subtitle {
    color: white;
    font-weight: 700;
    @include Exo2_Regular;
  }
}
.section__title {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.2px;
  color: white;
  margin: 40px 0 80px 0;
  @include Exo2_SemiBold;
}

// Section ======= sports
.sports {
  min-height: 600px;
  &__title {
    width: 412px;
  }
}
.card__box {
  display: flex;
  justify-content: space-between;
}

.card {
  @include card_bg;
  align-items: center;
  width: 230px;
  min-height: 320px;
  padding: 34px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  transition: all ease 0.4s;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #0061ff;
    border-right: 20px solid #0061ff;
  }
  &:hover {
    transform: scale3d(1.03, 1.03, 1);
  }
  &__image {
    transition: all ease 0.4s;
    img {
      display: block;
      width: 100%;
    }
  }
  &__content {
    position: relative;
    height: 215px;
    overflow: hidden;
  }
  &__title {
    text-align: center;
    margin: 20px 0px 10px 0px;
    padding-bottom: 2px;
    color: #035dee;
    font-size: 20px;
    font-weight: 700;
    @include Exo2_Regular;
  }
  &__descr {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 0;
    @include Exo2_SemiBold;
  }
  &:hover &__image {
    transform: translateY(-20px);
  }
  &:hover &__image img {
    transform: translate(-0px, -0px) rotate(-0deg) scale(1);
  }
}
.btn__more {
  padding: 10px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  border-radius: 6px;
  background: #0061ff;
  transition: all ease 0.6s;
  @include Exo2_Regular;
  &:hover {
    background: #ff3b7e;
  }
}

// Section ======= teachers
.teachers {
  min-height: 540px;
}
.social__network {
  display: flex;
  align-items: center;
  color: white;
  &-centerMargin {
    margin: 0 14px;
  }
  &--properties {
    justify-content: center;
    padding: 10px 0;
  }
}
.sliders {
  &__photo {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &__item {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    @include card_bg;
    &-bottom {
      background-color: #0061ff;
    }
    &-subtitle {
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1px;
      color: white;
      padding-top: 6px;
      @include Exo2_Regular;
    }
  }
  & .slick-slide {
    outline: none;
    margin: 0 7.6px;
  }
  & .slick-arrow {
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 340px;
    transform: translateY(-50%);
    z-index: 5;
  }
  & .slick-prev {
    left: 390px;
    z-index: 1;
  }
  & .slick-next {
    right: 386px;
    z-index: 1;
  }

  & .slick-dots button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    padding: 0;
    font-size: 0;
    outline: none;
    cursor: pointer;
  }
  & .slick-dots .slick-active button {
    background-color: #0061ff;
  }
  & .slick-dots li {
    display: inline-block;
    margin: 2px;
  }
  & .slick-dots {
    position: absolute;
    margin: 20px;
    left: 430px;
    right: 0;
    top: 302px;
  }
}
.footer {
  min-height: 200px;
  &__wrapper {
    display: flex;
    padding: 50px 0px;
  }
  &__content1 {
    max-width: 137px;
    &-title {
      margin-bottom: 25px;
      color: #0061ff;
      @include Exo2_Bold;
    }
    &-link {
      color: black;
      margin: 10px 0;
      display: block;
      @include Exo2_Regular;
    }
  }
  &__content2 {
    @include Exo2_Regular;
    margin-left: 20px;
    &-phone {
      display: block;
      margin: 14px 0;
      color: black;
      font-family: inherit;
    }
    &-location {
      margin-bottom: 15px;
      @include Exo2_Regular;
    }
  }
}
:focus {
  background-color: #ff3b7e;
  color: white;
}
@import "media";
